{% extends "base.html" %}
{% load static %}

{% block extra_title %}Stock Levels - {{ company_to_display.full_name }}{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="main-content">
        <h4 class="my-5 mx-5">Stock Levels - {{ company_to_display.full_name }} - All Warehouses</h4>  
    </div>
    <div class="row">
        <div class="col-8 offset-2 p-3 justify-content-center pb-4">
            
            {% for warehouse in warehouses %}
                <div class="row stock-list-expand warehouse-list-item" id="{{ warehouse.id }}">
                    <div class="col-5 m-2">
                        <h4>{{ warehouse.full_name }}</h4>
                    </div>
                    {% if warehouse.internal_warehouse == False %}
                        <div class="col-3 m-2">Public</div>
                    {% else %}
                        <div class="col-3 m-2">Internal</div>
                    {% endif %}
                </div>
                <div class="warehouse-list-item-content" >

                </div>
                <hr>

            {% endfor %}

        </div>
    </div>
    <div class="col-md-6 offset-md-3 pb-5 pt-5">
    </div>

{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <!-- Custom Scripts -->
    <script src="{% static 'js/warehouseStockLevelHandler.js' %}"></script>

{% endblock %}